# Temporary files
.gemini/
brain/
*~
*.log

# Project specific
.DS_Store
Thumbs.db

# Optional: if they add Node later
node_modules/
dist/
.env
Units/English/English_Unit_2/Bushfires/Assets/5e782929aec504d098cc2f4da80414c5.avif
Units/English/English_Unit_2/Bushfires/Assets/Ash Wednesday 1.jpg
Units/English/English_Unit_2/Bushfires/Assets/Ash Wednesday news article 1.jpg
Units/English/English_Unit_2/Bushfires/Assets/Ash Wednesday news article 2.jpg
Units/English/English_Unit_2/Bushfires/Assets/ash wednesday.webp
Units/English/English_Unit_2/Bushfires/Assets/fire-ocean-grove-fire-brigade-FB-1.webp
Units/English/English_Unit_2/Bushfires/Assets/GettyImages_1195172348.webp

# Assets and Resources
Units/**/Resources/**/*.mp4
